@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Total Forms</h5>
            <p>-> Display later using API</p>
            <a href="/Form/Index" class="btn btn-primary">Manage Forms</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>All Submissions</h5>
            <p>Approve or Reject submissions</p>
            <a href="/Admin/AllSubmissions" class="btn btn-warning">Manage Submissions</a>
        </div>
    </div>
</div>
