@model List<TaskManager.Web.Models.FormDto>

<h2>All Forms</h2>

<a class="btn btn-primary mb-3" href="/Form/Create">+ Create New Form</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Fields (JSON)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Id</td>
                <td>@form.Title</td>
                <td>@form.Description</td>
                <td><pre>@form.Fields</pre></td>

                <td>
                    <a class="btn btn-primary btn-sm"
                       href="/Submission/FillForm?formId=@form.Id">
                        Fill Form
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
